.center-block {
    height: 80%;
}

.mb-1 {
    height: 74px !important;
}

.theme--dark.v-select .v-select__selection--comma {
    color: #bfcbd3 !important;
}

.row {
    margin: 0px !important;
}

.col-lg-3 {
    max-width: 23%;
}