.login_container_global {
    width: 90vw;
    height: 100vh;
}

.login_container_border_lines {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    height: 75%;
    border-top: solid;
    border-bottom: solid;
    border-width: thin;
}

.login_container_border_rectangle {
    width: 80%;
    height: 80%;
    border: solid;
    border-width: thin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_container_input {
    width: 60%;
    min-width: 300px;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text_field {
    margin: 20px;
    width: 60%;
}

.login_button {
    padding: 10px;
}

.text_no_account {
    margin: 20px;
    color: rgb(61, 55, 55);
    text-shadow: grey 0.1em 0.1em 0.2em
}