.login_container_global {
    width: 90vw;
    height: 100vh;
}

.login_container_border_lines {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    height: 75%;
    border-top: solid;
    border-bottom: solid;
}

.login_container_border_rectangle {
    width: 80%;
    border: solid;
}