.card-margin {
    margin: 14px;
}

.restaurant-container {
    width: 100%;
}

.restaurant-description {
    display: flex;
    align-items: center;
    justify-content: center;
}

.restaurant-title {
    justify-content: start;
}

.picture-restaurant {
    display: flex;
    align-items: center;
}

.restaurant-presentation {
    background-color: white;
    position: absolute;
    top: 100%;
}