.buttons-collection {
    position: sticky !important;
    bottom: 50px !important;
    margin-bottom: 20px;
    margin-left: 20px;
    height: 50px;
}

html {
    font-size: 28px !important;
}

.sticky {
    border-style: none !important;
}

.outline-none {
    outline: none !important;
}

.sticky-left {
    left: 25px;
}

.sticky-left-2 {
    left: 50px;
}

.delete {
    background-color: rgb(194, 17, 40) !important;
}

.edit {
    background-color: rgb(22, 212, 48) !important;
}

.create {
    background-color: rgb(36, 80, 202) !important;
}

.container-menu {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-menu-v-card {
    width: 90%;
    height: 85%;
}