.buttons-collection {
    position: sticky !important;
    bottom: 30px !important;
    margin-top: 10px;
    height: 40px;
}

.sticky {
    border-style: none !important;
}

.outline-none {
    outline: none !important;
}