.buttons-collection {
    position: sticky !important;
    bottom: 30px !important;
    margin: 10px;
}

.sticky {
    border-style: none !important;
}

.outline-none {
    outline: none !important;
}