.buttons-collection {
    outline: none !important;
}

.sticky {
    position: sticky !important;
    bottom: 80px !important;
    border-style: none !important;
}

.outline-none {
    outline: none;
}