.buttons-collection {
    position: sticky !important;
    bottom: 80px !important;
    height: 10px;
}

.sticky {
    border-style: none !important;
}

.outline-none {
    outline: none !important;
}