.height-nav-bar {
    height: 100%;
}

.slot-container {
    max-width: 99vw;
    position: relative;
    padding: 0px;
    margin: 0px;
    top: 128px;
    margin-right: initial;
    margin-left: initial;
}

.overflow-y-auto {
    overflow-y: scroll;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#input-12 {
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
}

.v-label {
    padding-left: 6px;
}

.col-md-3 {
    max-width: 20%;
    height: 100%;
    padding: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.v-input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.v-text-field__details {
    margin-bottom: ;
}