.darkSubmit {
    opacity: 0.4;
}

.submit {
    opacity: 1;
}

.register_validation {
    margin: 15px;
}

.register_container_global {
    width: 60%;
    min-width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 600px;
}

.restorer_container_global {
    width: 60vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.restorer_container {
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.avatar_picture_container {
    border-radius: 50%;
    width: 160px;
    height: 160px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    opacity: 1;
    min-width: 300px;
}

.avatar_picture_container:hover {
    opacity: 0.5;
}

.avatar_picture {
    position: relative;
}

.avatar_title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar_input {
    height: 300px;
    width: 300px;
    position: flex;
    align-items: flex-end;
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0);
    opacity: 0;
}

.container_avatar_and_role {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}

.role_input {
    height: 160px;
}

.text_field_surname {
    margin-bottom: 15px;
    width: 60%;
}

@media (max-width: 960px) {
    .container_avatar_and_role {
        flex-direction: column;
    }
}

@media screen and (min-width: 960px) {
    .container_avatar_and_role {
        flex-direction: row;
    }
}